/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media (min-width: 480px) { body { font-size: 7px; } }
@media (min-width: 580px) { body { font-size: 8px; } }
@media (min-width: 680px) { body { font-size: 9px; } }
@media (min-width: 720px) { body { font-size: 10px; } }
@media (min-width: 768px) { body { font-size: 11px; } }
@media (min-width: 980px) { body { font-size: 14px; } }
@media (min-width: 1100px) { body { font-size: 16px; } }
@media (min-width: 1200px) { body { font-size: 18px; } }


.icon-link img {
  width: 10em;
  height: 10em;
}


.github, .resume {
  background-color: orange;
}

.name {
  background-color: red;
}

.content {
}

.pane {
  padding: 0 0 2em 0;
  text-align: center;
}

.pane:first-child {
  padding-top: 2em;
}

.link {
  margin: auto;
  width: 150px;
}

.overlay {
  width: 100%;
  text-align: center;
  z-index: 1;
  padding: 1em 0;
}

.tilt {
  position: relative;
  top: -0em;
  display: block;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.name span {
  font-family: Lobster;
  font-size: 10em;
  text-align: center;
  line-height: 1.1em;
  padding-bottom: 0.3em;
}

/* side-by-side style for tablets & computers */
@media (min-width: 480px) {
  body {
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    min-height: 20em;
  }

  .pane {
    display: table-cell;
    vertical-align: middle;
  }

  .overlay {
    position: absolute;

    width: 30em;
    left: 50%;
    margin-left: -15em;

    height: 30em;
    top: 50%;
    margin-top: -15em;
  }

  .name {
    background-color: transparent;
    padding: 0;
  }

  .github {
    background-color: orange;
  }

  .resume {
    background-color: red;
  }

}
