/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { color: black; }

.guides {
  float: left;
  position: absolute;
  border: 2px solid blue;
}

.guide-wrapper {
  height: 100%;
  width: 100%;
}

/* Vary size with width */
@media (min-width: 0px) { body { font-size: 0.25em; } }
@media (min-width: 100px) { body { font-size: 0.325em; } }
@media (min-width: 200px) { body { font-size: 0.4em; } }
@media (min-width: 300px) { body { font-size: 0.475em; } }
@media (min-width: 400px) { body { font-size: 0.55em; } }
@media (min-width: 500px) { body { font-size: 0.625em; } }
@media (min-width: 600px) { body { font-size: 0.7em; } }
@media (min-width: 700px) { body { font-size: 0.775em; } }
@media (min-width: 800px) { body { font-size: 0.85em; } }
@media (min-width: 900px) { body { font-size: 0.925em; } }
@media (min-width: 1000px) { body { font-size: 1.0em; } }
@media (min-width: 1100px) { body { font-size: 1.075em; } }
@media (min-width: 1200px) { body { font-size: 1.15em; } }
@media (min-width: 1300px) { body { font-size: 1.225em; } }
@media (min-width: 1400px) { body { font-size: 1.3em; } }
@media (min-width: 1500px) { body { font-size: 1.375em; } }
@media (min-width: 1600px) { body { font-size: 1.45em; } }
@media (min-width: 1700px) { body { font-size: 1.525em; } }
@media (min-width: 1800px) { body { font-size: 1.6em; } }
@media (min-width: 1900px) { body { font-size: 1.675em; } }
@media (min-width: 2000px) { body { font-size: 1.75em; } }
@media (min-width: 2100px) { body { font-size: 1.825em; } }
@media (min-width: 2200px) { body { font-size: 1.9em; } }
@media (min-width: 2300px) { body { font-size: 1.975em; } }
@media (min-width: 2400px) { body { font-size: 2.05em; } }
@media (min-width: 2500px) { body { font-size: 2.125em; } }
@media (min-width: 2600px) { body { font-size: 2.2em; } }
@media (min-width: 2700px) { body { font-size: 2.275em; } }
@media (min-width: 2800px) { body { font-size: 2.35em; } }
@media (min-width: 2900px) { body { font-size: 2.425em; } }
@media (min-width: 3000px) { body { font-size: 2.5em; } }
@media (min-width: 3100px) { body { font-size: 2.575em; } }
@media (min-width: 3200px) { body { font-size: 2.65em; } }
@media (min-width: 3300px) { body { font-size: 2.725em; } }
@media (min-width: 3400px) { body { font-size: 2.8em; } }
@media (min-width: 3500px) { body { font-size: 2.875em; } }
@media (min-width: 3600px) { body { font-size: 2.95em; } }
@media (min-width: 3700px) { body { font-size: 3.025em; } }
@media (min-width: 3800px) { body { font-size: 3.1em; } }
@media (min-width: 3900px) { body { font-size: 3.175em; } }
@media (min-width: 4000px) { body { font-size: 3.25em; } }

/* Vary size with height */
@media (min-height: 0px) { html { font-size: 0.7em; } }
@media (min-height: 100px) { html { font-size: 0.75em; } }
@media (min-height: 200px) { html { font-size: 0.8em; } }
@media (min-height: 300px) { html { font-size: 0.85em; } }
@media (min-height: 400px) { html { font-size: 0.9em; } }
@media (min-height: 500px) { html { font-size: 0.95em; } }
@media (min-height: 600px) { html { font-size: 1.0em; } }
@media (min-height: 700px) { html { font-size: 1.05em; } }
@media (min-height: 800px) { html { font-size: 1.1em; } }
@media (min-height: 900px) { html { font-size: 1.15em; } }
@media (min-height: 1000px) { html { font-size: 1.2em; } }
@media (min-height: 1100px) { html { font-size: 1.25em; } }
@media (min-height: 1200px) { html { font-size: 1.3em; } }
@media (min-height: 1300px) { html { font-size: 1.35em; } }
@media (min-height: 1400px) { html { font-size: 1.4em; } }
@media (min-height: 1500px) { html { font-size: 1.45em; } }
@media (min-height: 1600px) { html { font-size: 1.5em; } }
@media (min-height: 1700px) { html { font-size: 1.55em; } }
@media (min-height: 1800px) { html { font-size: 1.6em; } }
@media (min-height: 1900px) { html { font-size: 1.65em; } }
@media (min-height: 2000px) { html { font-size: 1.7em; } }


html {
  background: orange;
  min-height: 200px;
}


.icon-link img {
  width: 10em;
  height: 10em;
}

.link a {
  display: block;
}

.link a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.link embed {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tilt {
  position: relative;
  top: -0em;
  display: block;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.name span {
  font-family: Lobster;
  font-size: 10em;
  text-align: center;
  line-height: 1.1em;
  padding-bottom: 0.3em;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 25em;
  min-width: 25em;
  overflow: hidden;
}

.icon, .names, .name {
  position: absolute;
  float: left;
}

.icon, .name {
  transition: all 1s;
  transform-origin: 50% 50%;
}

.content .icon {
  width: 10em;
  height: 10em;
  margin: -5em 0 0 -5em;
  z-index: 2;
}

.content .name {
  width: 25em;
  height: 15em;
  margin: -7.5em 0 0 -12.5em;
  z-index: 1;
}

/* default balanced layout for sqaure-ish screens */
.content .names {
  height: 25em;
  width: 25em;
  margin: -12.5em 0 0 -12.5em;
  top: 50%;
  left: 50%
}

.content .above { top: 30% }
.content .below { top: 70% }
.content .left  { left: 15% }
.content .right { left: 85% }
.content .icon { top: 50% }
.content .name { left: 50% }


/* phone portrait */
@media (max-width: 420px) and (max-height: 640px) {
  .content {
    min-height: 40em;
    font-size: 1.5em;
  }
  .content .icon { top: 80% }
  .content .names { top: 35% }
  .content .left  { left: 30% }
  .content .right { left: 70% }
}


/* vertical style for portrait tablets & squat computers */
/* @media (min-width: 420px) and (max-width: 700px) and (min-height: 480px) { */
@media (max-width: 420px) and (min-height: 640px), (min-width: 420px) and (max-width: 470px) and (min-height: 420px), (min-width: 470px) and (max-width: 520px) and (min-height: 470px), (min-width: 520px) and (max-width: 570px) and (min-height: 520px), (min-width: 570px) and (max-width: 620px) and (min-height: 570px), (min-width: 620px) and (max-width: 670px) and (min-height: 620px), (min-width: 670px) and (max-width: 720px) and (min-height: 670px), (min-width: 720px) and (max-width: 770px) and (min-height: 720px), (min-width: 770px) and (max-width: 820px) and (min-height: 770px), (min-width: 820px) and (max-width: 870px) and (min-height: 820px), (min-width: 870px) and (max-width: 920px) and (min-height: 870px), (min-width: 920px) and (max-width: 970px) and (min-height: 920px), (min-width: 970px) and (max-width: 1020px) and (min-height: 970px), (min-width: 1020px) and (max-width: 1070px) and (min-height: 1020px), (min-width: 1070px) and (max-width: 1120px) and (min-height: 1070px), (min-width: 1120px) and (max-width: 1170px) and (min-height: 1120px), (min-width: 1170px) and (max-width: 1220px) and (min-height: 1170px), (min-width: 1220px) and (max-width: 1270px) and (min-height: 1220px), (min-width: 1270px) and (max-width: 1320px) and (min-height: 1270px), (min-width: 1320px) and (max-width: 1370px) and (min-height: 1320px), (min-width: 1370px) and (max-width: 1420px) and (min-height: 1370px), (min-width: 1420px) and (max-width: 1470px) and (min-height: 1420px), (min-width: 1470px) and (max-width: 1520px) and (min-height: 1470px), (min-width: 1520px) and (max-width: 1570px) and (min-height: 1520px), (min-width: 1570px) and (max-width: 1620px) and (min-height: 1570px), (min-width: 1620px) and (max-width: 1670px) and (min-height: 1620px), (min-width: 1670px) and (max-width: 1720px) and (min-height: 1670px), (min-width: 1720px) and (max-width: 1770px) and (min-height: 1720px), (min-width: 1770px) and (max-width: 1820px) and (min-height: 1770px), (min-width: 1820px) and (max-width: 1870px) and (min-height: 1820px), (min-width: 1870px) and (max-width: 1920px) and (min-height: 1870px), (min-width: 1920px) and (max-width: 1970px) and (min-height: 1920px), (min-width: 1970px) and (max-width: 2020px) and (min-height: 1970px), (min-width: 2020px) and (max-width: 2070px) and (min-height: 2020px), (min-width: 2070px) and (max-width: 2120px) and (min-height: 2070px), (min-width: 2120px) and (max-width: 2170px) and (min-height: 2120px), (min-width: 2170px) and (max-width: 2220px) and (min-height: 2170px), (min-width: 2220px) and (max-width: 2270px) and (min-height: 2220px), (min-width: 2270px) and (max-width: 2320px) and (min-height: 2270px), (min-width: 2320px) and (max-width: 2370px) and (min-height: 2320px), (min-width: 2370px) and (max-width: 2420px) and (min-height: 2370px), (min-width: 2420px) and (max-width: 2470px) and (min-height: 2420px), (min-width: 2470px) and (max-width: 2520px) and (min-height: 2470px), (min-width: 2520px) and (max-width: 2570px) and (min-height: 2520px), (min-width: 2570px) and (max-width: 2620px) and (min-height: 2570px), (min-width: 2620px) and (max-width: 2670px) and (min-height: 2620px), (min-width: 2670px) and (max-width: 2720px) and (min-height: 2670px), (min-width: 2720px) and (max-width: 2770px) and (min-height: 2720px), (min-width: 2770px) and (max-width: 2820px) and (min-height: 2770px), (min-width: 2820px) and (max-width: 2870px) and (min-height: 2820px), (min-width: 2870px) and (max-width: 2920px) and (min-height: 2870px), (min-width: 2920px) and (max-width: 2970px) and (min-height: 2920px), (min-width: 2970px) and (min-height: 2970px) {
/*
  body { font-size: 10px; }
  @media (min-height: 500px) { body { font-size: 11px; } }
  @media (min-height: 550px) { body { font-size: 12px; } }
  @media (min-height: 600px) { body { font-size: 13px; } }
  @media (min-height: 650px) { body { font-size: 14px; } }
  @media (min-height: 700px) { body { font-size: 15px; } }
  @media (min-height: 750px) { body { font-size: 16px; } }
  @media (min-height: 800px) { body { font-size: 17px; } }
  @media (min-height: 850px) { body { font-size: 18px; } }
  @media (min-height: 900px) { body { font-size: 19px; } }
  @media (min-height: 950px) { body { font-size: 20px; } }
  @media (min-height: 1000px) { body { font-size: 22px; } }
  @media (min-height: 1200px) { body { font-size: 25px; } }
  @media (min-height: 1400px) { body { font-size: 30px; } }
  @media (min-height: 1600px) { body { font-size: 35px; } }
*/

  .content {
    min-height: 40em;
    font-size: 1.2em;
  }

  .content .above { top: 20% }
  .content .below { top: 80% }

  .content .left  { left: 30% }
  .content .right { left: 70% }

  .content .name { left: 50% }

  .content .names {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

}
