/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { font-size: 12px; color: black; }
@media (min-width: 420px) { body { font-size: 8px; } }
@media (min-width: 500px) { body { font-size: 9px; } }
@media (min-width: 600px) { body { font-size: 10px; } }
@media (min-width: 700px) { body { font-size: 11px; } }
@media (min-width: 750px) { body { font-size: 12px; } }
@media (min-width: 800px) { body { font-size: 13px; } }
@media (min-width: 900px) { body { font-size: 14px; } }
@media (min-width: 1000px) { body { font-size: 16px; } }
@media (min-width: 1200px) { body { font-size: 18px; } }
@media (min-width: 1400px) { body { font-size: 20px; } }
@media (min-width: 1600px) { body { font-size: 25px; } }
@media (min-width: 1800px) { body { font-size: 30px; } }
@media (min-width: 2000px) { body { font-size: 35px; } }
@media (min-width: 2250px) { body { font-size: 40px; } }
@media (min-width: 2500px) { body { font-size: 45px; } }
@media (min-width: 2750px) { body { font-size: 50px; } }
@media (min-width: 3000px) { body { font-size: 60px; } }

html {
  background: orange;
  min-height: 200px;
}


.icon-link img {
  width: 10em;
  height: 10em;
}

.link a {
  display: block;
}

.link a:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.link embed {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tilt {
  position: relative;
  top: -0em;
  display: block;
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.name span {
  font-family: Lobster;
  font-size: 10em;
  text-align: center;
  line-height: 1.1em;
  padding-bottom: 0.3em;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 25em;
  min-width: 25em;
  overflow: hidden;
  background: -webkit-linear-gradient(bottom left, orange 50%, red 50%);
  background-size: 100% 100%;
}

.icon, .names, .name {
  position: absolute;
  float: left;
}

.icon, .name {
  transition: all 1s;
  transform-origin: 50% 50%;
}

.content .icon {
  width: 10em;
  height: 10em;
  margin: -5em 0 0 -5em;
  z-index: 2;
}

.content .name {
  width: 25em;
  height: 15em;
  margin: -7.5em 0 0 -12.5em;
  z-index: 1;
}

/* default balanced layout for sqaure-ish screens */
.content .names {
  height: 25em;
  width: 25em;
  margin: -12.5em 0 0 -12.5em;
  top: 50%;
  left: 50%
}

.content .above { top: 30% }
.content .below { top: 70% }
.content .left  { left: 15% }
.content .right { left: 85% }
.content .icon { top: 50% }
.content .name { left: 50% }


/* phone portrait */
@media (max-width: 420px) and (max-height: 640px) {
  .content { min-height: 40em }
  .content .icon { top: 80% }
  .content .names { top: 35% }
  .content .left  { left: 30% }
  .content .right { left: 70% }
}


/* vertical style for portrait tablets & squat computers */
/* @media (min-width: 420px) and (max-width: 700px) and (min-height: 480px) { */
@media (max-width: 420px) and (min-height: 640px), (min-width: 420px) and (max-width: 470px) and (min-height: 462px), (min-width: 470px) and (max-width: 520px) and (min-height: 517px), (min-width: 520px) and (max-width: 570px) and (min-height: 572px), (min-width: 570px) and (max-width: 620px) and (min-height: 627px), (min-width: 620px) and (max-width: 670px) and (min-height: 682px), (min-width: 670px) and (max-width: 720px) and (min-height: 737px), (min-width: 720px) and (max-width: 770px) and (min-height: 792px), (min-width: 770px) and (max-width: 820px) and (min-height: 847px), (min-width: 820px) and (max-width: 870px) and (min-height: 902px), (min-width: 870px) and (max-width: 920px) and (min-height: 957px), (min-width: 920px) and (max-width: 970px) and (min-height: 1012px), (min-width: 970px) and (max-width: 1020px) and (min-height: 1067px), (min-width: 1020px) and (max-width: 1070px) and (min-height: 1122px), (min-width: 1070px) and (max-width: 1120px) and (min-height: 1177px), (min-width: 1120px) and (max-width: 1170px) and (min-height: 1232px), (min-width: 1170px) and (max-width: 1220px) and (min-height: 1287px), (min-width: 1220px) and (max-width: 1270px) and (min-height: 1342px), (min-width: 1270px) and (max-width: 1320px) and (min-height: 1397px), (min-width: 1320px) and (max-width: 1370px) and (min-height: 1452px), (min-width: 1370px) and (max-width: 1420px) and (min-height: 1507px), (min-width: 1420px) and (max-width: 1470px) and (min-height: 1562px), (min-width: 1470px) and (max-width: 1520px) and (min-height: 1617px), (min-width: 1520px) and (max-width: 1570px) and (min-height: 1672px), (min-width: 1570px) and (max-width: 1620px) and (min-height: 1727px), (min-width: 1620px) and (max-width: 1670px) and (min-height: 1782px), (min-width: 1670px) and (max-width: 1720px) and (min-height: 1837px), (min-width: 1720px) and (max-width: 1770px) and (min-height: 1892px), (min-width: 1770px) and (max-width: 1820px) and (min-height: 1947px), (min-width: 1820px) and (max-width: 1870px) and (min-height: 2002px), (min-width: 1870px) and (max-width: 1920px) and (min-height: 2057px), (min-width: 1920px) and (max-width: 1970px) and (min-height: 2112px), (min-width: 1970px) and (max-width: 2020px) and (min-height: 2167px), (min-width: 2020px) and (max-width: 2070px) and (min-height: 2222px), (min-width: 2070px) and (max-width: 2120px) and (min-height: 2277px), (min-width: 2120px) and (max-width: 2170px) and (min-height: 2332px), (min-width: 2170px) and (max-width: 2220px) and (min-height: 2387px), (min-width: 2220px) and (max-width: 2270px) and (min-height: 2442px), (min-width: 2270px) and (max-width: 2320px) and (min-height: 2497px), (min-width: 2320px) and (max-width: 2370px) and (min-height: 2552px), (min-width: 2370px) and (max-width: 2420px) and (min-height: 2607px), (min-width: 2420px) and (max-width: 2470px) and (min-height: 2662px), (min-width: 2470px) and (max-width: 2520px) and (min-height: 2717px), (min-width: 2520px) and (max-width: 2570px) and (min-height: 2772px), (min-width: 2570px) and (max-width: 2620px) and (min-height: 2827px), (min-width: 2620px) and (max-width: 2670px) and (min-height: 2882px), (min-width: 2670px) and (max-width: 2720px) and (min-height: 2937px), (min-width: 2720px) and (max-width: 2770px) and (min-height: 2992px), (min-width: 2770px) and (max-width: 2820px) and (min-height: 3047px), (min-width: 2820px) and (max-width: 2870px) and (min-height: 3102px), (min-width: 2870px) and (max-width: 2920px) and (min-height: 3157px), (min-width: 2920px) and (max-width: 2970px) and (min-height: 3212px), (min-width: 2970px) and (min-height: 3267px) {
  body { font-size: 10px; }

  @media (min-height: 500px) { body { font-size: 11px; } }
  @media (min-height: 550px) { body { font-size: 12px; } }
  @media (min-height: 600px) { body { font-size: 13px; } }
  @media (min-height: 650px) { body { font-size: 14px; } }
  @media (min-height: 700px) { body { font-size: 15px; } }
  @media (min-height: 750px) { body { font-size: 16px; } }
  @media (min-height: 800px) { body { font-size: 17px; } }
  @media (min-height: 850px) { body { font-size: 18px; } }
  @media (min-height: 900px) { body { font-size: 19px; } }
  @media (min-height: 950px) { body { font-size: 20px; } }
  @media (min-height: 1000px) { body { font-size: 22px; } }
  @media (min-height: 1200px) { body { font-size: 25px; } }
  @media (min-height: 1400px) { body { font-size: 30px; } }
  @media (min-height: 1600px) { body { font-size: 35px; } }

  .content { min-height: 45em }

  .content .above { top: 20% }
  .content .below { top: 80% }

  .content .left  { left: 30% }
  .content .right { left: 70% }

  .content .name { left: 50% }

  .content .names {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

}
